#banner
  .banner_content
    %h1 File Store
    %p Your life's work. Organised, always.
    %button= link_to "Enter", new_user_registration_path

#callouts
  .callout_inner
    .wrapper
      .callout
        %h2 Organize
        %p Wayfarers williamsburg meditation sartorial. Single-origin coffee banh mi farm-to-table migas, neutra everyday carry ramps hoodie fashion axe seitan craft beer lomo iPhone fingerstache flannel. Asymmetrical bitters photo booth stumptown, trust fund keffiyeh banjo meditation yuccie plaid. Gochujang farm-to-table plaid, cronut microdosing schlitz lo-fi green juice +1 neutra food truck offal you probably haven't heard of them echo park brunch.

#bottom_cta
  .wrapper
    %h2 Go ahead!
    %br/
    %button= link_to "Join now", new_user_registration_path